GfuConfigFieldUXml{
    flex-direction: row;
    /*max-height: 25px;*/
    max-width: 400px;
}
EnumField{
    height: 22px;
}

#unity-text-input{
    min-width: 30px;
}

#AddConfigButton{
    width: 120px;
}